<footer style="margin-top:30px;">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 text-center" id="footer_column1_links">
          <a href="">
            <img src="../img/Educaz_preto.png"/>
          </a>
          <p>CNPJ: 28.287.766/0001-18</p>
          <div id=footer_social_media>
            <a href=""><span class="icon-facebook"></span></a>
            <a href=""><span class="icon-twitter"></span></a>
            <a href=""><span class="icon-linkedin"></span></a>
            <a href=""><span class="icon-pinterest"></span></a>
            <a href=""><span class="icon-instagram"></span></a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 hide-mobile" id="footer_column2_links">
          <div><a href="">Cursos online</a></div>
          <div><a href="">Cursos presenciais</a></div>
          <div><a href="">Cursos híbridos</a></div>
          <div><a href="">Eventos</a></div>
          <div> <a href="">Trilha de conhecimento</a></div>
          <div> <a href="">Seja um assinante</a></div>
          <div><a href="">Professores</a></div>
          <div> <a href="">Seja um professor</a></div>
          <div> <a href="">Já sou professor</a></div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 hide-mobile" id="footer_column3_links">
          <div><a href="">Meu carrinho</a></div>
          <div><a href="">Meu perfil</a></div>
          <div style="padding: 20px 0"><span class="bold">Tem dúvidas sobre o site ou sobre a sua compra? <a href="" id="footer_column3_duvida_link" class="orange-font-color">Clique aqui</a></span></div>
          <div style="padding: 0 0 22px;"><a id="footer_column3_duvida_mailto" class="bold" href="mailto:sac@educaz.com.br" target="_top">sac@educaz.com.br</a></div>
          <div><a href="">Política de Privacidade</a></div>
          <div><a href="">Termos e condições de uso</a></div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 bold hide-mobile" id="footer_column4_links">
          <div><span>Acesso restrito</span></div>
          <div><a class="orange-font-color" href="">Já sou professor</a></div>
          <div><a  class="orange-font-color" href="">Sou produtora</a></div>
          <div><a class="orange-font-color" href="">IES e parceiros</a></div>
          <div id="burnit_logo">
            <span style="font-family:encodeSansCondensed-Regular;">powered by</span><br>
            <a href=""><img src="../img/burnit-logo.png"/></a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container -->
</footer>
