
<h1 class="my-4">Pesquise pela área de seu interesse</h1>
<div class="list-group" id="sidebar_links">
    <a href="#" class="list-group-item">Arte & Design</a>
    <a href="#" class="list-group-item">Beleza</a>
    <a href="#" class="list-group-item">Comunicação</a>
    <a href="#" class="list-group-item">Direito</a>
    <a href="#" class="list-group-item">Economia</a>
    <a href="#" class="list-group-item">Educação</a>
    <a href="#" class="list-group-item">Engenharia</a>
    <a href="#" class="list-group-item">Gastronomia</a>
    <a href="#" class="list-group-item">Gestão & Negócios</a>
    <a href="#" class="list-group-item">Inovação & Empreendedorismo</a>
    <a href="#" class="list-group-item">Medicina</a>
    <a href="#" class="list-group-item">Meio Ambiente</a>
    <a href="#" class="list-group-item">Moda</a>
    <a href="#" class="list-group-item">Pedagogia</a>
    <a href="#" class="list-group-item">Publicidade & Marketing</a>
    <a href="#" class="list-group-item">Saúde</a>
    <a href="#" class="list-group-item">Seguros</a>
    <a href="#" class="list-group-item">Sem categoria</a>
    <a href="#" class="list-group-item">TI & Tecnologia</a>
</div>
<form id="form_sidebar_search">
    <div class="simulate-search-box">
         <input type="text" placeholder="Pesquisar"/>
         <a href="#">
             <span class="icon-search" style="font-size:25px;float:right;"></span>
        </a>
    </div>   
</form>

<a href="" id="sidebar_conheca_vantagens">
    <div class="yellow-light-background sidebar_colored_links">
        <div class="icon icon-user-card"></div>
        <p>
            Conheça as vantagens de ser um assinante Educaz
        </p>
    </div>
</a>

<a href="" id="sidebar_visite_trilhas">
    <div class="yellow-dark-background sidebar_colored_links">
        <div class="icon icon-share"></div>
        <p>
            Visite as trilhas do conhecimento em várias áreas
        </p>
    </div>
</a>

<a href="" id="sidebar_compartilhe_conhecimentos">
    <div class="orange-light-background sidebar_colored_links">
        <div class="icon icon-graduation-hat"></div>
        <p>
            Compartilhe seu conhecimento como um professor Educaz
        </p>
    </div>
</a>

<a href="" id="sidebar_baixe_aplicativo">
    <div class="orange-background sidebar_colored_links">
        <div class="icon icon-touch"></div>
        <p>
            Baixe nosso aplicativo para IOS e Android
        </p>
    </div>
</a>


    

